div {
    width: auto;

  }

body {
    background-color: rgb(129, 161, 172);
  }
  
img {
    width: 250px;
    height: 150px;
}


#Header {
    margin: auto;
    border: 2px solid rgb(0, 0, 0);
    width: 220px;
    background-color: rgb(36, 80, 96);

}